# Анализ базы данных `demo_medium`

В данном ноутбуке выполняется анализ таблицы `bookings` из схемы `bookings`. Используется библиотека `psycopg2` для подключения к базе данных PostgreSQL.

## Подключение к базе данных

In [ ]:

import psycopg2
import pandas as pd

# Connect to the PostgreSQL database
conn = psycopg2.connect(
    dbname="demo",
    user="your_username", 
    password="your_password",  
    host="localhost",  
    port="5432"
)

# Function to execute a query and return a DataFrame
def execute_query(query):
    return pd.read_sql(query, conn)

## Анализ таблицы `bookings`

Посмотрим на структуру таблицы и выполним анализ.

In [ ]:

# Preview the structure of the table
query = "SELECT * FROM bookings.bookings LIMIT 5;"
bookings_data = execute_query(query)
bookings_data

### 1. Количество строк и столбцов

In [ ]:

# Get the number of rows and columns
query = "SELECT COUNT(*) FROM bookings.bookings;"
row_count = execute_query(query).iloc[0, 0]
column_count = len(bookings_data.columns)

row_count, column_count

### 2. Тип данных в столбцах

In [ ]:

# Display data types
data_types = bookings_data.dtypes
data_types

### 3. Количество уникальных значений в строковом столбце

In [ ]:

# Count unique values in 'book_ref' column
unique_values_count = bookings_data['book_ref'].nunique()
unique_values_count

### 4. Частота встречаемости значений в строковом столбце

In [ ]:

# Frequency of values in 'book_ref' column
value_counts = bookings_data['book_ref'].value_counts()
value_counts

### 5. Статистики для числового столбца

In [ ]:

# Statistics for the 'total_amount' column
numeric_stats = {
    "min": bookings_data['total_amount'].min(),
    "mean": bookings_data['total_amount'].mean(),
    "median": bookings_data['total_amount'].median(),
    "max": bookings_data['total_amount'].max(),
}
numeric_stats

## Заключение

В этом ноутбуке выполнен анализ таблицы `bookings` из базы данных `demo_medium`. Для других таблиц можно повторить аналогичные шаги.